* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background-color: #14120b;
    font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    /* font-weight: 400; */
    /* max-width: 1300px !important; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #14120b;
    font-size: 16px;

}

.Name {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navCenter {
    display: flex;
    justify-content: center;
}

.navItems {
    display: flex;
    list-style: none;
    gap: 32px;

}

.navItems li a {
    color: #fff;
    text-decoration: none;

}

.navItems li a:hover {
    color: gray;
}

.navButtons {
    display: flex;
    gap: 12px;

}

.btnBlack {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid #ffffff33;
    cursor: pointer;

}

.btnBlack:hover {
    background-color: #ffffff1a;
}

.btnWhite {
    background-color: #fff;
    color: #14120b;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.btnWhite:hover {
    background-color: #e0e0e0;
}

main {
    margin-top: 40px;
}

.hero {
    padding: 120px 80px 80px;
    max-width: 1500px;
}

.heroContent {
    text-align: left;
}

.heroTitle {
    font-size: 28px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 40px;
    max-width: 900px;
    font-weight: 500;
}

.btnDown {
    background-color: #fff;
    color: #14120b;
    padding: 14px 28px;
    border: none;
    border-radius: 32px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-weight: 400;
}

.btnDown:hover {
    background-color: #c0bfbf;
}

.heroImage {
    margin-top: 60px;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.trusted {
    padding: 10px 80px;
    max-width: 1500px;
}

.trustedText {
    text-align: center;
    color: white;
    font-size: 19px;
    margin-bottom: 40px;
}

.logoGrid {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    gap: 12px;
}

.logoItem {
    background-color: #1b1913;
    border: 1px solid rgba(138, 137, 137, 0.04);
    border-radius: 6px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.logoItem img {
    max-width: 100%;
    max-height: 40px;
}

.feature {
    padding: 60px 80px;
    max-width: 1550px;
    max-height: 1250px;
}

.featureContent {
    background-color: #1b1913;
    border-radius: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.featureText {
    display: flex;
    flex-direction: column;
}

.featureText h2 {
    font-size: 22px;
    color: #e0dfdf;
    margin-bottom: 4px;

}

.featureText p {
    font-size: 22px;
    color: #999;
    line-height: 28.6px;
    margin-bottom: 24px;

}

.featureLink {
    color: #f54e00;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: gap 0.2s ease;
}


.featureImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureImage img {
    width: 100%;
    width: 800px;
    height: auto;
    max-height: 700px;
    object-fit: cover;
    border-radius: 6px;
}

.post {
    padding: 100px 80px;
    max-width: 1550px;
    margin: 0 20px;
}

.post h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
    color: #c7c5c5;
    font-weight: 500;
}

.postGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.postCard {
    background-color: #1b1913;
    border: 1px solid #b3b1b10d;
    border-radius: 4px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.postText {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: auto;
}

.postWriter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.postWriter img {
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.postWriter h6 {
    font-size: 15px;
    color: #fff;
    margin-bottom: 4px;
}

.postWriter span {
    font-size: 14px;
    color: #8d8d8d;
}

.front {
    padding: 100px 80px;
    max-width: 1400px;
}

.front h2 {
    font-size: 26px;
    text-align: left;
    margin-bottom: 32px;
    color: #edecec;

}

.frontGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.frontCard {
    background-color: #1b1913;
    border: 1px solid #ffffff0d;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.frontCard h4 {
    font-size: 16px;
    color: #adacac;
    line-height: 1.3;
}

.frontCard p {
    font-size: 16px;
    line-height: 1.6;
    color: #999;
    margin-bottom: 20px;
}

.frontLink {
    color: #f54e00;
    text-decoration: none;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.frontImg {
    width: 28px;
    max-width: 100%;
}

.change {
    padding: 100px 80px;
    max-width: 1550px;
}

.change h2 {
    font-size: 26px;
    margin-bottom: 32px;
    color: #edecec;
}

.changeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 32px;
}

.changeItem {
    background-color: #1b1913;
    border: 1px solid #ffffff0d;
    border-radius: 4px;
    padding: 12px;

}

.seperate {
    margin-bottom: 20px;
}

.version {
    background-color: transparent;
    color: #999;
    border: 1px solid #444;
    border-radius: 16px;
    padding: 4px 12px;
    font-size: 16px;
    cursor: default;
    width: fit-content;
}

.changeDate {
    font-size: 16px;
    color: #999;
    margin-bottom: 40px;
}

.changeTitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.4;
}

.changeLink {
    color: #f54e00;
    text-decoration: none;
    font-size: 19px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: gap 0.2s ease;
}

.changeLink:hover {
    gap: 12px;
}

.team {
    padding: 100px 80px;
    max-width: 1500px;

}

.teamContent {
    background-color: #1b1913;
    border-radius: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}

.teamText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.teamText p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 32px;
    line-height: 1.2;
    max-width: 350px;
    /* font-weight: 600; */
}

.teambtn {

    color: red;
    border: none;
    border-radius: 28px;
    padding: 12px 0px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
}


.teamImg {
    flex: 1;
}

.teamImg img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.highlights {
    background-color: #1b1913;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlightsLabel {
    position: absolute;
    left: 80px;
    font-weight: 500;
    color: #d8d8d8;
    font-size: 18px;
}

.highlightsContent {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlightsPost {
    background-color: #201e18;
    border: 1px solid #ffffff0d;
    border-radius: 4px;
    padding: 32px;
}

.highlightsPost h3 {
    font-size: 16px;
    color: #d8d8d8;
    margin-bottom: 6px;
}

.highlightsDate p {
    font-size: 16px;

    color: #d8d6d6;
    margin-bottom: 32px;
}

.postDate {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    color: #999999;
}

.highlightsLink {
    color: #f54e00;
    text-decoration: none;
    margin-top: 20px;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: gap 0.2s ease;
}

.highlightsPost p {
    line-height: 1.6;
    color: #6C6A68;
}

.lastSection {
    padding: 120px 80px;
    text-align: center;
}

.lastSection h2 {
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 40px;
}

footer {
    background-color: #1b1913;
    padding: 80px 80px 40px;
    border-top: 1px solid #ffffff0d;
}

.footerContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    margin-bottom: 60px;
    max-width: 1350px;
}

.footerCol h5 {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.footerCol ul {
    list-style: none;
}

.footerCol ul li {
    margin-bottom: 12px;
}

.footerCol ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    max-width: 1400px;
}

.copyright {
    color: #979797;
    font-size: 14px;
}

.footAct {
    display: flex;
    gap: 16px;
    align-items: center;
}

.toggle {
    background-color: #26241e;
    border-radius: 20px;
    padding: 2px;
    display: flex;
    gap: 4px;
}

.toggle button {
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle button:hover {
    background-color: rgba(17, 17, 17, 0.5);
}

.toggle button img {
    filter: invert(1);
    opacity: 0.6;
}

.lang {
    background-color: #26241e;
    color: #fff;
    border: 1px solid rgba(153, 152, 152, 0.1);
    border-radius: 14px;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.lang option {
    background-color: #1b1913;
    color: #fff;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}